$white: #ffffff;
$black: #000;
$border-dark: #232323;

* {
  margin: 0;
}

body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  font-family: 'Nunito';
}
#myDiv{
  text-align: center;
  color: $white;
  .display-text {
    font-size: 5rem;
  }
}

.open-close-btn {
  position: absolute;
  top: 0;
  left: 0;
  button{
    background-color: $black;
    border: 0.001rem solid $border-dark;
  }
}